* {
    font-family: Ayuthaya, serif;
    font-size: 2.5vh;

}
html, body { height: 100%;}

body {
    background-color: #ffda28;
    margin: 0;
    min-height: 100%;
}

#header {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0 #d7d7d7;
    transition: 1s;
}

#header:hover {
    box-shadow: 0 5px 10px #b9b9b9;
}

a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

a:hover {
    color: rgba(116,0,27,0.98);
}


.logo {
    position: relative;
    height: 50%;
    font-size: 4vh;
}



#soloLogo {
    left: auto;
    margin-right: auto;
    margin-left: auto;
}

button {
    border: 0;
    box-shadow: 0 0;
    border-radius: 5vh;
    background-color: #00a082;
    transition: 0.3s;
    color: white;
}

button:hover {
    box-shadow: 0 0.5vh 2vh 0.3vh rgba(170,170,170,0.98);
    transform: translateY(-5%);
}

button:active {
    background-color: #00c3a5;
}

#login, #meals {
    height: 50%;
    width: fit-content;
    min-width: 25%;
    color: white;
    font-size: 2vh;
    background-color: #00a082;
    border-radius: 5vh;
    border: 0;
    transition: 0.3s;
}

#login:active, #meals:active {
    background-color: #00c3a5;
}


.floatingMenu, #floatingMeals {
    display: block;
    position: relative;
    width: 60vw;
    height: 60vh;
    background-color: white;
    border-radius: 5vh;
    top: 25vh;
    margin: auto;
    box-shadow: 0 5px 10px 5px rgba(170,170,170,0.98);
    transition: 0.5s;
}

.floatingMenu:hover, #floatingMeals:hover {
    box-shadow: 0 10px 20px 7px rgba(170,170,170,0.98);
    top: 24vh;
}

form {
    height: 100%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

input, #wrongLogin, #logoutButton, .inFormButton {
    position: relative;
    width: 50vw;
    height: 6vh;
    margin: auto;
    border-radius: 3vh;
    border-color: #ffda28;
    border-style: solid;
    border-width: 2px;
    font-size: 3vh;
    text-align: center;
    background-color: rgba(245,245,245,0.98);
}

td {
    text-align: center;
}

#submitButton {
    border-width: 0;
    background-color: #00a082;
    color: white;
    transition: 0.3s;
}

#submitButton:active {
    background-color: #00c3a5;
}

#wrongLogin {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3vh;
    font-size: 2vh;
    background-color: red;
    border-width: 0;
    opacity: 70%;
    color: white;
}

#logoutButton {
    background-color: #a00035;
    border-width: 0;
    color: white;
    transition: 0.3s;
}

#logoutButton:hover {
    box-shadow: 0 0.5vh 2vh 0.3vh rgba(170,170,170,0.98);
    transform: translateY(-5%);
}

#logoutButton:active {
    background-color: #c3003a;
}

.inFormButton {
    border-width: 0;
    background-color: #00a082;
    color: white;
    transition: 0.3s;
}

.inFormButton:active {
    background-color: #00c3a5;
}

#floatingMeals {
    height: fit-content;
}

.images {
    width: 80%;
    height: 15vh;
    object-fit: cover;
    border-radius: 3vh;
}

.mealsRow {
    height: 20vh;
}

.addressRow, .addressNamingRow {
    height: 10vh;
}

.addressRow:hover td {
    background-color: #00c3a5;
    color: white;
    -webkit-transition: 0.3s;
}

.address-input {
    height: 40%;
    width: 80%;
}
#make-order-btn {
    position: absolute;
    /*    top: 70vh;*/
    border-radius: 5vh 5vh 5vh 5vh;
    left: 50vw;
    /* top: 2vh;*/
    height: 8vh;
    box-shadow: 0 0.5vh 1vh 0.3vh rgba(170,170,170,0.98);
}

#make-order-btn:hover {
    box-shadow: 0 1vh 3vh 0.3vh rgba(170,170,170,0.98);
}

.counter {
    position: relative;
    margin: auto;
    height: 70%;
    width: 50%;
    background-color: whitesmoke;
    border-radius: 2vh;
}

.arrow-up, .arrow-down {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.arrow-down {
    bottom: 1vh;
    border-top: 10px solid black;
}

.arrow-up {
    top: 1vh;
    border-bottom: 10px solid black;
}

.number-input {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    height: 50%;
    width: 60%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.dropbtn {
    margin: 2vh;
    background-color: #00a082;
    color: white;
    border-radius: 5vh;
    border: 0;
    height: 6vh;
    width: 80%;
}

.dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border-radius: 5vh;
    border: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    border-radius: 5vh;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00c3a5;
}

#login, #make_ord{
    height: 50%;
    width: fit-content;
    min-width: 25%;
    color: white;
    font-size: 2vh;
    background-color: #00a082;
    border-radius: 5vh;
    border: 0;
    transition: 0.3s;
}

#login, #about-us{
    height: 50%;
    width: fit-content;
    min-width: 25%;
    color: white;
    font-size: 2vh;
    background-color: #00a082;
    border-radius: 5vh;
    border: 0;
    transition: 0.3s;
}

#center {
    box-sizing: border-box;
    padding-left: 4vw;
}
main,
footer {
    padding: 2em;
}

main {
    flex-grow: 1;
}

/*footer{
    margin-top: auto;
position: relative;
}
.site-footer
{
    bottom:0;
    background-color: #ffffff;
   !* padding:45px 0 20px;*!
    padding:45px;
    width: 100%;
    font-size:15px;
    line-height:24px;
    color:#737373;
    left: 0;
    right: 0;
    display: table-footer-group;

}*/
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.column-left{ float: left; width: 33.333%;}
.column-right{ float: right; width: 33.333%; }
.column-center{ display: inline-block; width: 33.333%; }

.color{
    color:#737373;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size:1.5em;
    text-align:center;
    padding:16px;
    background-color:white;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 50vw;
    height: 50vh
}

