<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>start.jsp</welcome-file>
    </welcome-file-list>


    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>main.filters.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserAccessFilter</filter-name>
        <filter-class>main.filters.UserAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAccessFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ManagerAccessFilter</filter-name>
        <filter-class>main.filters.ManagerAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerAccessFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CookAccessFilter</filter-name>
        <filter-class>main.filters.CookAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CookAccessFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserActiveOrderFilter</filter-name>
        <filter-class>main.filters.UserActiveOrderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserActiveOrderFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserAddressFilter</filter-name>
        <filter-class>main.filters.UserAddressFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAddressFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserOrderFilter</filter-name>
        <filter-class>main.filters.UserOrderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserOrderFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserPaymentFilter</filter-name>
        <filter-class>main.filters.UserPaymentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserPaymentFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>


</web-app>